# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Uploaded files
data/uploads/

# FAISS index
data/faiss_index/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/